.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.conteiner {
    max-width: 1818px;
    padding: 10px 15px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
}

select {
    font-weight: bold;
    font-size: 18px;
}

button {
    font-weight: 700;
    font-size: 18px;

}

/*---------------------------*/
/*---------------------------*/


.header {
    margin-bottom: 100px;
}

.razdelitel {
    margin-bottom: 5px;
    border: 1px solid #464442
}


.header-navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    padding-bottom: 10px;
}


.header-nazvanie {
    position: relative;
}


.header-nazvanie::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 220px;
    background: url(../decor1/telega.svg) 0 0 / 40% 100%no-repeat,
        url(../decor1/fe.svg) 0 0 / 110% 100% no-repeat,
        url(../decor1/insta.svg) 0 0 / 170% 100% no-repeat;
    width: 80px;
    height: 19px;
}


.header-tel {
    position: relative;
    padding-left: 20px;
    margin-right: auto;
    margin-left: 150px;
}


.header-tel::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../decor1/smartphone.svg) 0 0 /100% 100% no-repeat;
    width: 20px;
    height: 20px;
}



.item-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-item__spisok {
    margin-right: 15px;
}


.item-item__spisok:last-child {
    margin-right: 0;
}


.item-item__spisok:hover {
    border-bottom: 3px solid green;
}




/*---------------------------------*/
/*---------------------------------*/



.user_spis {
    font-weight: 700;
}

.header-spis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 35px 0;
}

.spis-item {
    display: flex;
    justify-content: space-between;
}


.header-body__logo {
    margin-left: 119px;
}

.header-body__logo2 {
    margin-right: auto;
    margin-left: 15px;
}


.header-body__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.body-btn {
    margin-right: 30px;
    position: relative;
}


.korzina {
    position: relative;
}

.korzina::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../logo/korzina.svg) 0 0 / 100% 100% no-repeat;
    width: 29px;
    height: 20px;
    margin-left: -25px;
}

.body-btn__button {
    padding: 5px 20px;
    color: white;
    background-color: #44C697;
    transition: 2s;
}

.body-btn__button:hover {
    transform: scale(1.1);
}



/*------------------------------*/
/*------------------------------*/



.blog {
    position: relative;
}


.blog-img {
    height: 100vh;
    background: url(../img/01.jpg) no-repeat;
}

.blog-blog {
    background-color: white;
}

.blog-blog {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 462px;
    height: 670px;
    border-left: 10px solid #44C697;
}



.title {
    padding: 99px 90px 50px 91px;
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
}

.blog-btn {
    text-align: center;
    margin-bottom: 50px;
}

.button {
    padding: 14px 46px;
    color: white;
    background-color: #44C697;
    transition: 2s;
}

.button:hover {
    transform: scale(1.1);
}


.blog-nomer {
    text-align: center;
}

span {
    font-size: 36px;
}

.strela {
    text-align: center;
}




/*=------------------------------------*/
/*-------------------------------------*/




.title {
    position: relative;
}


.title-title {
    align-items: center;
    font-size: 48px;
}

.bord {
    position: absolute;
    top: 98px;
    left: 728px;
    z-index: -1;
    width: 20px;
    height: 50px;
    background: #44C697;
}



.section-on {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .tex{
    overflow: hidden;
    transition: 3s;
    color: white;
    font-size: 18px;
    position: relative;
}

.tex:hover {
    transform: scale(1);
    position: absolute;
    bottom: 0;
    opacity: 1;
} */


.on-img {
    position: relative;
}

.tex {
    position: absolute;
    top: 320px;
    left: 30px;
    color: white;
    font-size: 18px;
    opacity: 0.8;
    display: none;
}

.on-img:hover .tex {
    display: block;
}


.on-title {
    position: absolute;
    top: 272px;
    left: 30px;
    font-size: 36px;
    color: white;
    border-bottom: 5px solid #44C697;
    transition: 1s;
}

.on-title:hover {
    position: absolute;
    top: 211px;
    left: 30px;
    font-size: 36px;
    color: white;
    border-bottom: 5px solid #44C697;
    transform: scale(1.1);

}


.on-title__tit {
    position: absolute;
    top: 272px;
    left: 30px;
    font-size: 36px;
    color: white;
    border-bottom: 5px solid #44C697;
    transition: 1s;
}


.on-title__tit:hover {
    position: absolute;
    top: 211px;
    left: 30px;
    font-size: 36px;
    color: white;
    border-bottom: 5px solid #44C697;
    transform: scale(1.1);
}



.on-title__titl {
    position: absolute;
    top: 272px;
    left: 30px;
    font-size: 36px;
    color: white;
    border-bottom: 5px solid #44C697;
    transition: 1s;
}

.on-title__titl:hover {
    position: absolute;
    top: 211px;
    left: 30px;
    font-size: 36px;
    color: white;
    border-bottom: 5px solid #44C697;
    transform: scale(1.1);
}


.section-on {
    margin-bottom: 100px;
}



/*---------------------------------*/
/*---------------------------------*/


.title-title__tu {
    align-items: center;
    font-size: 48px;
}

.title-tu {
    position: relative;
    margin-bottom: 60px;
}

.bord-tu {
    position: absolute;
    top: 1px;
    left: 703px;
    z-index: -1;
    width: 20px;
    height: 50px;
    background: #44C697;
}


.item-tu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 100px;
}



.item-tu__item-1:hover path,
.item-tu__item-1:focus path {
    fill: #44C697;
}

.item-tu__item-2:hover path,
.item-tu__item-2:focus path {
    fill: #44C697;
}

.item-tu__item-3:hover path,
.item-tu__item-3:focus path {
    fill: #44C697;
}

.item-tu__item-4:hover path,
.item-tu__item-4:focus path {
    fill: #44C697;
}

.item-tu__item-5:hover path,
.item-tu__item-5:focus path {
    fill: #44C697;
}

.item-tu__item-6:hover path,
.item-tu__item-6:focus path {
    fill: #44C697;
}


/* .item-tu__item-2::before {
    content: "";
    display: block;
    background: url(../decor/krovat.svg) 0 0 / 100% 100% no-repeat;
    width: 80px;
    height: 100px;
}


.item-tu__item-3::before {
    content: "";
    display: block;
    background: url(../decor/kreslo.svg) 0 0 / 100% 100% no-repeat;
    width: 100px;
    height: 77px;
}
.item-tu__item-4::before {
    content: "";
    display: block;
    background: url(../decor/komod.svg) 0 0 / 100% 100% no-repeat;
    width: 100px;
    height: 86px;
}
.item-tu__item-5::before {
    content: "";
    display: block;
    background: url(../decor/hkaf.svg) 0 0 / 100% 100% no-repeat;
    width: 67px;
    height: 100px;
}
.item-tu__item-6::before {
    content: "";
    display: block;
    background: url(../decor/kuxny.svg) 0 0 / 100% 100% no-repeat;
    width: 100px;
    height: 92px;
} */

.item-tu__item-1:hover {
    color: #44C697;
    border-bottom: 3px solid #44C697;
}

.item-tu__item-2:hover {
    color: #44C697;
    border-bottom: 3px solid #44C697;
}

.item-tu__item-3:hover {
    color: #44C697;
    border-bottom: 3px solid #44C697;
}

.item-tu__item-4:hover {
    color: #44C697;
    border-bottom: 3px solid #44C697;
}

.item-tu__item-5:hover {
    color: #44C697;
    border-bottom: 3px solid #44C697;
}

.item-tu__item-6:hover {
    color: #44C697;
    border-bottom: 3px solid #44C697;
}




/*--------------------------------*/
/*--------------------------------*/


.fri-fri {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
    margin-bottom: 50px;
}

.fri-item {
    position: relative;
}

.fri-item:hover {
    top: -5px;
    background-color: #44C697;
}


.fri-zena__non {
    text-decoration: line-through;
}


.fri-zena__ne {
    text-decoration: line-through;

}

.button-bnb {
    margin-left: 810px;
    margin-bottom: 100px;
}

.fri-img {
    position: relative;
}

.fri-content {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 5px 15px;
    font-size: 18px;
    color: white;
    background-color: black;
}

.fri-content-dva {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 5px 15px;
    font-size: 18px;
    color: white;
    background-color: #df1414;
}


.fri-text__blog {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.fti-text {
    font-weight: 700;
    font-size: 24px;
}


.fri-zena {
    font-weight: 700;
    font-size: 24px;
}

.fri-zena__non {
    color: #888582;
}

.fri-zena-red {
    color: red;
    font-size: 24px;
    font-weight: 700;
}




/*----------------------------------*/
/*----------------------------------*/

.text-text__zagol {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
}

.section-fo{
    position: relative;
}

.bord-dva {
    position: absolute;
    top: 1px;
    left: 802px;
    z-index: -1;
    width: 20px;
    height: 50px;
    background: #44C697;
}



.fu-blog__img{
    margin-left: 370px;
}


.contetn-tex__text{
    width: 791px;
    height: 475px;
    padding: 66px;
    border-right: 10px solid#44C697;
    background-color: #ffff;
}

b{
    color: #44C697;
}

.text-con-1,.text-con-2, .text-con-3 {
    text-align: left;
    font-size: 18px;
}

.fo-blog{
    position: relative;
    margin-bottom: 100px;
}

.contetn-tex__text{
    position: absolute;
    top: 100px;
    left: 0;
}



/*------------------------------------*/
/*------------------------------------*/



.section-fayf{
    position: relative;
    margin-bottom: 109px;
}

.bord-fayf {
    position: absolute;
    top: 1px;
    left: 643px;
    z-index: -1;
    width: 20px;
    height: 50px;
    background: #44C697;
}


.text-fayf-3 {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    width: 380px;
    height: 69px;
    margin-left: 45px;
}


.fayf-blog{
    position: relative;
    margin-bottom: 100px;
}

.contetn-tex__fayf{
    position: absolute;
    top: 230px;
    left: 1300px;
}

.contetn-tex__fayf{
    width: 513px;
    height: 457px;
    /* padding: 66px; */
    border-left: 10px solid#44C697;
    background-color: #ffff;
}



.button-bbn{
    color: white;
    background-color: #44C697;
    transition: 2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 170px;
    margin-left: 45px;
}
.button-bbn:hover {
    transform: calc(1.1);
}

.zagol{
    text-align: left;
    margin-left: 45px;
    font-size: 36px;
    font-weight:700;
    margin-bottom: 30px;
}


.name{
    padding: 14px ;
}

.contetn-tex__text-fayf{
   margin-top: 50px;
}


.text-pole{
    margin-left: 45px;
    margin-bottom: 15px;

}


input{
    width: 435px;
    height: 51px;
    border: 1px solid;
}


input{
    margin-bottom: 10px;
}

input:last-child{
    margin-bottom: 0;
}





/*----------------------------------*/
/*----------------------------------*/



.footer-footer {
    display: flex;
    justify-content: space-between;
}


.footer-blog {
    width: 831px;
    height: 520px;
    background-color: #1E2E36;
}


.blog-content {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 100px;
}


.blog-logo {
    display: flex;
    justify-content: flex-start;
}

.logo-footer {
    margin: 50px 15px 50px 51px;
}

.logo-footer-1 {
    margin: 66px 0 50px 0;
}

.blog-navigator{
    display: flex;
    justify-content: space-between;
    font-weight: 700;

}

.blog-navig {
    margin-left: 50px;
    margin-bottom: 30px;
}

.item {
    padding: 15px;
}

.item-01::before{
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    background: url(../footer1/metka.svg); 
    width: 19.5px;  
    height: 23px;
}

.item-01,.item-02,.item-03,.item-04{
    padding: 15px;
    margin-left: 10px;
}


.item-02::before{
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background: url(../footer1/Vector.svg) no-repeat; 
    width: 19.5px;  
    height: 23px;
}


.item-03::before{
    content: "";
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background: url(../footer1/smartphone1.svg) no-repeat; 
    width: 19.5px;  
    height: 23px;
}



.blog-navig-item {
}


.blog-navig-item__item {
    position: relative;
    
}


.footer-blog-img {
}

.seti{
    
}

.seti-seti{
    display: flex;
    justify-content:flex-start;
}


.feys{
padding: 7px;
margin: auto 20px;
}

.inst{
    padding: 7px;
}



.footer-inform{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    padding: 0 0 20px 0;
}


.firma-firma::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 375px;
    background: url(../decor/glynez.svg) no-repeat; 
    width: 19.5px;  
    height: 23px;
}



